.card{
    width: 15%;
    background: #e74c3c;
    margin: 3rem;
    padding: 2rem;
    box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.75);
    box-sizing: border-box;


    @media only screen and (max-width: 600px) {
          width: 80%;
          margin: 2rem auto;

      }
    
}